.Home {
  padding-top: 90px;
}

.text-center {
  text-align: center;
  color:#82b74b;
}

button {
  font-size: 20px;
  border: 2px solid #82b74b;
  border-radius: 10px;
  background-color: #d5e1df;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
